<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weasyprint live preview</title>
  <style>
      html, body {
          margin: 0;
          padding: 0;
          height: 100%;
          width: 100%;
      }
  </style>
</head>
<body>
<script src="/weasyprint.js"></script> <!-- main.js is required for auto reloading -->
<object style="width: 100vw; height: 100vh;" data="{{ url_for('preview_pdf', pdf_path=pdf_path) }}"
        type="application/pdf"></object>
</body>
</html>